/* Global */

body {
  /* border-top:  5px solid #e56038; */
  background: #faf9f9;
  font-family: 'Open Sans', sans-serif;
  color: #3c3c3c;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  background: #ffffff;
  border-radius: 5px;
}

p{
  margin: 5px 0;
  line-height: 25px;
}

a{
  text-decoration: none;
  color: inherit;
  transition: color .5s ease;
}

strong {
  font-weight: bold;
}


figcaption {
  line-height: 25px;
  font-size: 16px;
  width: 200px;
}

figcaption strong{
  border-bottom: 1px solid #343434;
  padding-bottom: 10px;
  margin: 10px 0;
  display: block;
}


header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto;
}

header h1 {
  margin: 35px 0 0 0;
  font-size: 55px;
  color: #012158;
  font-family: "Helvetica", bold;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: inherit;
  text-transform: uppercase;
}

nav {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: block;
  float: left;
  padding: 3px 15px;
}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  transition: all .25s ease;
}

nav ul li a:hover{
  color: #012158;
}

/* Slider Section */

#headline{
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  width: 350px;
  height: 100px;
  position: absolute;
  top: 15%;
  left: 15%;
  display: none;
  z-index: 11;
}

#headline{
  display: block;
}
.container {
  width: auto;
  margin: 0;
  position: relative;
}

.container img {
  height: auto;
  width: 100%;
}

#headline-display {
  background-color: #4d4d4d;
  margin-bottom: 10px;
  margin-left: 55px;
  padding: 10px 15px;
  border-radius: 15px 0 15px 0;
  display: inline-block;
  height: 25px;
  width: 350px;
}

#headline h3{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

#headline-info-display {
  margin-left: 55px;
  background-color: #fff;
  border-radius: 0 15px 0 15px;
  height: 135px;
  width: 385px;
}

#headline p{
  margin: 0 0 10px 0;
  color: #4d4d4d;
  padding: 10px 15px;
}

#headline-background img{
  width: 100%;
  height: 350px;
}

#spacer
{
  width: auto;
  height: 70px;
  background-color: #4d4d4d;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  margin-top: -5px;
  display: block;
}

#spacer h1 {
  padding-top: 20px;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

/* Resume */


#job {
  padding-top: 25px;
  max-width: 900px;
  margin: auto;
  left: auto;
}

#job img{
  padding-left: 1em;
  float: left;
  width: 150px;
  margin-right: 1em;
}

#job-details {
  width:auto;
  overflow: hidden;
  padding-left: 10px
}

#job-details h3, h4 {
  padding-bottom: 15px;
}

#job-details  h3 {
  font-size: 18px;
  font-weight: bold;

}

#job-details ul {
  list-style-type: circle;
  padding-left: 20px;
}

#job-details li {
  line-height: 1.2em;
  padding-bottom: 7px;
}

/* Projects */

#project-div {
  width: 100%;
  background-color: #676565;
}

#projects {
  color: white;
}

#projects {
  padding: 15px 0px;
  max-width: 900px;
  line-height:25px;
  margin:0 auto;
  text-align: center;
}

#project {
  display: inline-block;
  width: 49%;
  margin: 0 auto;
}

#project img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

#project figcaption {
  text-align: center;
  width: 80%;
  margin: auto;
}

#project p {
  text-align: left;
  width: 70%;
  margin: auto;
}

/* Profile */

figcaption {
  text-align: left;
  width: 100%;
  margin: auto;
}

#bio-outter-div {
  width: 100%;
  background-color: #676565;
  color: white;
}

#bio-inner-div {
  padding: 15px 0px;
  max-width: 900px;
  line-height:25px;
  margin:0 auto;
  display: block;
}

#about-column1{
  display: inline-block;
  width: 65%;
}

#about-column2 {
  display: inline-block;
  padding-top: 45px;
  float: right;
  width: 25%;
}

footer
{
position:relative;
clear:both;
width:auto;
height:350px;
background-color: #676565;
}

footer .wrapper
{
line-height:25px;
margin: 0 auto;
padding-top:30px;
width:auto;
max-width:900px;
font-size:14px;
}

footer .wrapper
{
color:#ababab;
float:left;
width:280px;
margin-right:20px;
}

footer .wrapper .column.midlist ul li
{
width:auto;
padding:0 0 10px 25px;
margin-bottom:10px;
border-bottom: 1px solid #444444;
background:url(img/arrowright2.png) left 6px no-repeat;
}

footer .wrapper .column.midlist ul li a:hover
{
color:#fff;
}
